@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
  @apply text-black;
  @apply font-body;
  transition: background-color 0.3s ease;
  transition: text-color 0.3s ease;
}

body.dark-mode {
  @apply bg-gray-900;
  @apply text-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-header;
}

/* Layout styles */
.container-inner {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container-inner {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container-inner {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container-inner {
    max-width: 800px;
  }
}
