::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 100px;
  width: 5px;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  border: 0px;
  background: rgb(102, 104, 159) !important;
  border-radius: 2px !important;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.card {
  @apply rounded-lg border border-card bg-card;
}
