::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 10px;
  width: 3px;
  height: 6px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border: 1px;
  background: rgb(102, 104, 159) !important;
  border-radius: 50px !important;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
